// #b92c28 -red
// #28a4c9 - lightblue
// #245580 -darkblue

body{
    background-color: #4e4b4b;
}
    
.body-container{
    background-color: #4e4b4b;
    height:auto;
    display:relative
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: auto;
    .card {
        background-color: #272325; 
        color:#F23664;
      display: inline-block;
      width: 50vh;
      height:70vh;
      text-align: center;
    }
    &::-webkit-scrollbar {
        display:none;
      }
      h2{
          color: #F23664;
          font-weight: bolder;
      }
 }

table{
    font-size: 1vh;
    margin: 2vh;
    width: auto;
    height: auto;
    overflow-x: scroll;
}

.tab-content{
    overflow: auto;
}


.footer{
    display:absolute;
    bottom:0px;
}

#quotes-container{
    background-color: #4e4b4b;
}

#quotes-container t{
   border: none;
}

#userAvatar{
    filter: invert(100%);
}

// ANIMATION ######

.bounce-right-text{
    position: absolute;
    right: 10vh;
    font-weight: bolder;
    color: #F23664;
}

.bounce-right-arrow{
    position: absolute;
    right: -5vh;
    animation: bouncing-right 2s infinite ease-in-out;
}

@keyframes bouncing-right{
    0%{right:-5vh}
    25%{right: -6vh}
    50%{right: -5vh}
    75%{right: -6vh}
    100%{right: -5vh}
}

#chartContainer{
    background-color: rgba(0, 0, 255, 0);
}

::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-track{background:#463f4200;border-radius:25px}
::-webkit-scrollbar-thumb{background:#f23664;border-radius:25px}